body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.polygon-chart {
    display: none;
    width: 400px;
    height: 400px;
}
